# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.idea
/AdHoc/PowerProfiler.iml
/AdHoc/out
/Docs
/STM32F103/Core
/STM32F103/STM32_USB-FS-Device_Driver
/STM32F103/STM32F10x_StdPeriph_Driver
VS
/STM32F103/JLinkSettings.ini
/STM32F103/LICENSE
/STM32F103/VCP_STLINK.uvgui.Serge
/STM32F103/VCP_STLINK.uvopt
/STM32F103/VCP_STLINK.uvproj
/STM32F103/VCP_STLINK_STLINK_CHINA.dep
/STM32F103/Main/rw_ini.c
/STM32F103/Main/rw_ini.h
/STM32F103/Main/smbus.c
/STM32F103/Main/smbus.h
/STM32F103/Main/stm32_it.c
/STM32F103/Main/stm32f10x_conf.h
/STM32F103/Main/system_stm32f10x.c
/STM32F103/Main/usb_conf.h
/STM32F103/Main/usb_desc.c
/STM32F103/Main/usb_desc.h
/STM32F103/Main/usb_endp.c
/STM32F103/Main/usb_istr.c
/STM32F103/Main/usb_istr.h
/STM32F103/Main/usb_prop.c
/STM32F103/Main/usb_prop.h
/STM32F103/Main/usb_pwr.c
/STM32F103/Main/usb_pwr.h
/STM32F103/Main/hw_config.c
/STM32F103/Main/hw_config.h
/STM32F103/Main/i2c_dev_hal.h
/STM32F103/Main/ina219.h
/AdHoc/src/org/company/PowerProfiler.java_prev
